<div class="container">
<div class="w-50" style="margin: 0 auto;">
<h2>Edit Personal Information</h2>
<br>
<%= render 'form' %>
<br>
<%= link_to 'User profile', current_user,  class:"btn btn-success" %>
<br>
<br>

</div>
</div>